@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Roboto:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Kanit',sans-serif;
}

body{
    background: linear-gradient(180deg,rgb(86, 80, 80), rgb(164, 45, 45));
    min-height: 100vh;
    max-height: 100%;
    background-size: cover;
}

#card-create{
    border: 3px solid #333;
    border-radius: 15px;
}

#head-create h1{
    color:rgb(203, 79, 79);
    font-size: 3em;
    font-weight: 600;
    text-align: center;
}


#body-create{
    background:linear-gradient(90deg, rgb(164, 45, 45),rgb(86, 80, 80)); 
    border-radius: 0 0 14px 14px;
    
}

#body-create input:hover,
#body-create input:focus,
#body-create textarea:hover,
#body-create textarea:focus{
    border: 3px solid #000;
    box-shadow:3px 3px 7px whitesmoke
}

#btn-create{
    font-size: 1.2rem;
    font-weight: 700;
    background-color: #333;
    color:rgb(203, 79, 79); 
    border: 2px solid whitesmoke;
    border-radius: 10px;
}

#btn-create:hover{
    font-size: 1.2rem;
    font-weight: 700;
    background-color: whitesmoke;
    color:rgb(203, 79, 79); 
    border: 2px solid rgb(207, 198, 198);
    border-radius: 10px;
}